* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Circular Std';
}

a {
    display: inline-block;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container-fluid {
    width: 1300px;
    margin: 0 auto;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.header{
    background-image: #F2F2F2;
    padding: 10px 0;
}

.header .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    font-size: 24px;
    color: black;
}

.nav-list{
    display: flex;
    padding-left: 800px;
}

.nav-item{
    padding: 0 15px;
}

.nav-link{
    text-decoration: none;
    color: black;
}


.nav-link:hover{
    color: #F04037;
}

.header-link{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: #F04037;
    border-radius: 5px;
}

.header-link:hover{
    text-decoration: underline;
}


.main{
    padding: 50px 0;
}

.travel .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.travel-info{
    width: 50%;
}

.travel-title{
    font-size: 60px;
}

.travel-text{
    color: #19191B;
    font-size: 21px;
    padding: 40px 0;
    line-height: 2;
}

.form-control{
    padding: 28px;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    width: 100%;
    outline: none;
}

.form-control::placeholder{
    color: #696871;
    font-size: 18px;
    padding-left: 10px;
    margin-left: 20px;
}

.form-link{
    background-color: #F04037;
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    position: absolute;
    border-radius: 5px;
    transform: translate(-105%, 15%);
}

.form-icon{
    position: absolute;
    left: 5px;
    top: 1px;
}


.form-label{
    position: relative ;
}

.box{
    background-color: #5454D4;
    padding: 50px 0;
    margin-top: 80px;
}

.users{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user{
    width: 40%;
}

.user-text{
    font-size: 21px;
    line-height: 1.5;
    font-style: italic;
    color: white;
    padding: 20px 0;
}

.user-name{
    color: rgba(255, 255, 255, 0.7);
}


.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


.trip{
    padding: 100px;
}

.trip .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.trip-info{
    width: 50%;
}

.trip-title{
    font-size: 60px;
}

.trip-text{
    color: #696871;
    font-size: 21px;
    padding: 30px 0;
    line-height: 2;
}

.trip-box{
    display: flex;
    align-items: flex-start;
    margin: 30px 0;
}

.trip-box-info{
    padding-left: 15px;
}

.trip-box-info-title{
    font-size: 21px;
    font-weight: bold;
}

.trip-box-info-text{
    color: #696871;
    padding: 10px 0;
    line-height: 2;

}

.world .container{
    display: flex;
    align-items: center;
}

.world-images{
    position: relative;
}

.world-info{
    width: 65%;
}

.world-title{
    font-size: 60px;
}

.world-text{
    font-size: 21px;
    color: #696871;
    line-height: 2;
    padding: 20px 0;
}

.experience{
    padding: 100px 0;
}

.experience .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.experience-info{
    width: 50%;
}

.experience-title{
    font-size: 60px;
}

.experience-text{
    color: #696871;
    font-size: 21px;
    line-height: 2;
    padding: 20px 0;
}

.experience-link{
    text-decoration: none;
    padding: 15px 30px;
    background-color: #F04037;
    color: white;
    border-radius: 5px;
}

.bg-image{
    background-image: url("https://picsum.photos/1040");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
}

.round-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
	box-sizing: border-box;
	display:block;
	width:80px;
	height:80px;
	padding-left: 8px;
	line-height: 20px;
	border: 6px solid #fff;
	border-radius: 50%;
	color:#f5f5f5;
	text-align:center;
	text-decoration:none;
	background-color: rgba(0,0,0,0.5);
	font-size:20px;
	font-weight:bold;
	transition: all 0.3s ease;
}
.round-button:hover {
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px rgba(255,255,100,1);
	text-shadow: 0px 0px 10px rgba(255,255,100,1);
}

.app{
    text-align: center;
    padding: 100px 0;
}

.app-title{
    font-size: 60px;
}

.app-text{
    font-size: 21px;
    color: #696871;
    line-height: 2;
    padding: 20px 0;
}


.app-link{
    text-decoration: none;
}

.app-link:hover{
    box-shadow:  0px 2px 10px rgb(61, 61, 59);
}

.app-link > img{
    margin: 0 10px;
}

.footer{
    padding: 30px 0;
    background-color: white;
}

.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-back{
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.footer-list{
    display: flex;
    justify-content: space-between;
}

.footer-item{
    padding: 0 15px;
}

.footer-link{
    text-decoration: none;
    color: black;
}

.footer-link:hover{
    text-decoration: underline;
}

.footer-text{
    color: black;
    margin-left: -200px;
}

.nav-menu {
    display: none;
    padding: 10px;
}

@media (max-width: 1320px){
    .container-fluid {
        width: 1200px;
        margin: 0 auto;
    }
}

@media (max-width: 1220px){
    .container-fluid {
        width: 1100px;
        margin: 0 auto;
    }
}

@media (max-width: 1160px){
    .container {
        width: 1000px;
        margin: 0 auto;
    }
}

@media (max-width: 1120px){
    .container-fluid {
        width: 1000px;
        margin: 0 auto;
    }
}

@media (max-width: 1020px){
    .container-fluid {
        width: 900px;
        margin: 0 auto;
    }

    .container {
        width: 900px;
        margin: 0 auto;
    }

    .footer-text{
        margin: 0;
    }
}

@media (max-width: 920px){
    .container-fluid {
        width: 800px;
        margin: 0 auto;
    }

    .container{
        width: 800px;
        margin: 0 auto;
    }

    .travel-title, .trip-title, .world-title, .experience-title, .app-title {
        font-size: 40px;
    }

    .footer .container{
        display: flex;
        flex-direction: column;
    }

    .footer-text{
        padding: 20px 0;
    }
}

@media (max-width: 820px){
    .container-fluid {
        width: 700px;
        margin: 0 auto;
    }

    .container{
        width: 700px;
        margin: 0 auto;
    }

    .travel-text, .trip-text, .user-text, .app-text, .world-text,.experience-text {
        font-size: 18px;
    }

    .iphone1, .iphone2 , .iphone3{
        width: 40%;
    }

}

@media (max-width: 720px){
    .container-fluid {
        width: 600px;
        margin: 0 auto;
    }

    .container {
        width: 600px;
        margin: 0 auto;
    }

    .form-link{
        text-align: center;
        width: 30%;
        padding: 1px 30px;
        font-size: 14px;
        transform: translate(-110%, 15%);
    }

    .form-control{
        padding: 15px 20px;
    }

    .form-control::placeholder{
        font-size: 14px;
    }

    .form-icon{
        width: 15px;
    }

    .world-image{
        width: 45%;
        flex-wrap: wrap;
    }
}

@media (max-width: 620px){
    .container-fluid {
        width: 94%;
        margin: 0 auto;
    }

    .header-link{
        display: none;
    }

    .container{
        width: 94%;
    }
}

@media (max-width: 420px){
    .container-fluid {
        width: 94%;
        margin: 0 auto;
    }

    .header-link{
        display: none;
    }

    .nav-menu {
        display: block;
    }

    .nav-list {
        display: none;
    }
}